// ==========
// Settings
// ==========

// Breakpoints
$breakpoints: (
  small:    480px,
  medium:   768px,
  large:    1280px,
);

// Fonts
@font-face {
  font-family: 'Roboto Slab';
  src: url('fonts/robotoslab-light.eot');
  src: url('fonts/robotoslab-light.eot?#iefix') format('embedded-opentype'),
     url('fonts/robotoslab-light.woff2') format('woff2'),
     url('fonts/robotoslab-light.woff') format('woff'),
     url('fonts/robotoslab-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('fonts/robotoslab-bold.eot');
  src: url('fonts/robotoslab-bold.eot?#iefix') format('embedded-opentype'),
     url('fonts/robotoslab-bold.woff2') format('woff2'),
     url('fonts/robotoslab-bold.woff') format('woff'),
     url('fonts/robotoslab-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

// Base font stacks
$base: "Roboto Slab", Rockwell, serif;

// Set typography sizes
$text-sizing: (
  milli: (
    small: (
      font-size: 0.618rem
    )
  ),
  centi: (
    small: (
      font-size: 0.618rem
    ),
    medium: (
      font-size: 0.8rem
    )
  ),
  deci: (
    small: (
      font-size: 0.8rem
    )
  ),
  base: (
    small: (
      font-size: 0.8rem
    ),
    medium: (
      font-size: 1rem
    )
  ),
  deca: (
    small: (
      font-size: 1rem
    ),
    medium: (
      font-size: 1.294rem
    )
  ),
  hecto: (
    small: (
      font-size: 1.294rem
    ),
    medium: (
      font-size: 1.618rem
    ),
  ),
  kilo: (
    small: (
      font-size: 1.618rem
    ),
    medium: (
      font-size: 2.094rem
    ),
  ),
  mega: (
    small: (
      font-size: 2.094rem
    ),
    medium: (
      font-size: 2.618rem
    ),
  ) 
);

// Colours
$cerulean: #00a0eb;
$cornflower-blue: #538cff;
$onahu: #c5faff;
$pastel-green: #89ea72;
$sea-green: #26a248;

// Z-index
$layers: (
);
