@import 'settings';
@import 'tools';
@import 'generic';

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.o-media {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  @include respond-above(medium) {
    width: 50%;
  }
}
.o-media__img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 1em;
}
.o-media__txt {
  flex: 1;
}

.c-site-header {
  background: $cornflower-blue;
  padding: 1em;
}

.c-site-content {
  display: flex;
  flex-flow: row wrap;
  > * {
    flex: 1 100%;
  }
  @include respond-above(small) {
    flex: 1;
  }
}

.c-article {
  background: $pastel-green;
  height: 100%;
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  @include respond-above(medium) {
    flex: 3 0px;
  }
}

.c-aside {
  @include respond-above(small) {
    flex: 1 auto;
  }
  @include respond-above(medium) {
    flex: 0 0 10em;
  }
}

.c-aside__left {
  background: $cerulean;
  padding: 1em;
  @include respond-above(medium) {
    order: -1;
  }
}

.c-aside__right {
  background: $onahu;
  padding: 1em;
}
.c-site-footer {
  background: $sea-green;
  padding: 1em;
}
